<section class="side-bar-bg">
        <div class="sidebar-logocontainer">
            <h1 class="sidebar-logo">LOGO</h1>
        </div>
        <div class="sidebar-mainimage">
            <img src="/assets/crypto-01.svg" alt="">
        </div>
        <div class="sidebar-description">
            <h2>WHAT IS STEGANOGRAPHY ?</h2>
            <p>Steganography is the practice of concealing a message within another message or a physical object. In computing /electronic contexts, a computer file, message, image, or video is concealed within another file, message, image, or video. The word steganography comes from Greek steganographia, which combines the words steganós meaning "covered or concealed", and -graphia  meaning "writing".</p>
        </div>
</section>